.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 20px;
}

h1 {
  text-align: center;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  from {background-color: red;}
  to {background-color: white;}
}